.container{
    display: flex;
    justify-content: space-between;
}
.button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.button:disabled{
    background-color: rgba(255, 0, 0, 0.507);
    cursor: not-allowed;
}