.container{
    margin-top: 50px;
}
.title{
    color: var(--softTextColor);
    margin-bottom: 30px;
}

.write{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}
.input{
    padding: 10px;
    width: 100%;
}
.button{
    padding: 10px 16px;
    background-color: teal;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.user{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.image{
    border-radius: 50%;
    object-fit: cover;
}
.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}
.userName{
    font-weight: 500;
}
.date{
    font-size: 14px;
}
.description{
    font-size: 18px;
}